[user]
        name = Yuichiro Kawano
	email = tresener.yu1ro@gmail.com
[color]
        ui = auto
[alias]
        br = branch
        co = checkout
        si = switch
        tr = log --graph --date=short --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
        ss = status
        in = commit
        logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
        syncm = !git checkout main && git pull origin main && git fetch -p origin && git branch -d $(git branch --merged | grep -v main | grep -v develop | grep -v '*')	
        syncd = !git checkout develop && git pull origin develop && git fetch -p origin && git branch -d $(git branch --merged | grep -v main | grep -v develop | grep -v '*')
        syncdc = !git checkout develop-customer && git pull origin develop-customer && git fetch -p origin && git branch -d $(git branch --merged | grep -v main | grep -v develop | grep -v develop-customer | grep -v '*')
        syncdp = !git checkout develop-payment && git pull origin develop-payment && git fetch -p origin && git branch -d $(git branch --merged | grep -v main | grep -v develop | grep -v develop-payment | grep -v '*')
        synccd = !git checkout customer_develop && git pull origin customer_develop && git fetch -p origin && git branch -d $(git branch --merged | grep -v main | grep -v develop | grep -v customer_develop | grep -v '*')
        today = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --since=midnight --oneline --author=\"`git config --get user.name`\"'"
	sta = stash save -u
[push]
	default = current
[core]
        editor = vim -c \"set fenc=utf-8\"
	autocrlf = input
[fetch]
	prune = true
[lfs]
	contenttype = 0
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	rebase = false
[checkout]
	defaultRemote = origin
