[user]
        name = Yuichiro Kawano
[color]
        ui = auto
[alias]
        br = branch
        co = checkout
        tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
        ss = status
        in = commit
        logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
        his = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
        syncm = !git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v develop | grep -v '*')	
        syncd = !git checkout develop && git pull origin develop && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v develop | grep -v '*')
        today = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --since=midnight --oneline --author=\"`git config --get user.name`\"'"
	sta = stash save -u
[push]
        default = current
[core]
        editor = vim -c \"set fenc=utf-8\"
